@font-face {
  font-family: 'Montserrat-thin';
  src: url('../src/assets/fonts/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Montserrat-regular';
  src: url('../src/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat-bold';
  src: url('../src/assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
